<%= render 'layouts/navbar' %>

<div class="container-fluid">
  
  <div class="page-header">
    <h2>Categories <small>Select a category to browse</small></h2> 
  </div>

  <div class="col-md-8" id="newsfeed">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recent Additions:</h3>
      </div>    
      <div class="panel-body">
      <% @cohort.resources.order(created_at: :desc).limit(10).each do |r| %>
        <div class="media newsfeed-item">
          <div class="media-left">
          <% if !r.user.nil? && !r.user.avatar_url.nil? %>
            <img src="<%= r.user.avatar_url %>" alt="<%= r.user.name %>" class="navbar-avatar">
          <% else %>
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="" class="navbar-avatar">
          <% end %>
          </div>
          <div class="media-body">
              <h4 class="media-heading"><%= r.name %><small> | <%= r.subject.category.name %> | <%= r.subject.name %></small></h4> 
              <p><%= r.short_description %></p>              
          </div>
          <div class="media-right">
            <button class="btn btn-default btn-sm">
              Save
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            </button>
            <p class="extra-small">13 saves</p>
          </div>
        </div>
      <% end %>            
      </div>
    </div>
  </div>

  <div class="col-md-4" id="category_tree">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">All categories:</h3>
      </div>    
      <div class="panel-body">
        <div class="list-group">
        <% @cohort.categories.each do |c| %>
          <%= link_to cohort_category_path(@cohort.slug, c.slug), class: "list-group-item" do %> 
            <span class="badge"><%= c.subjects.length %></span>
            <%= c.name %>
          <% end %>
        <% end %>
        </div>
        <div class="pull-right">
        <%= button_to "+Add Category", new_cohort_category_path(@cohort.slug), class: "btn btn-info", method: 'get' %>
        </div>
      </div>
    </div>
  </div>
</div>

