<div>

  <div>
    <h1>Create new subject</h1>
  </div>

  <%= form_for @subject, url: cohort_category_subjects_path(@subject.category.cohort.slug, @subject.category.slug) do |f| %>

  <%= f.hidden_field :category_id %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>

  <% end %>

</div>
