<div>

  <div>
    <h1>Create new resource</h1>
  </div>

  <%= form_for @resource do |f| %>

  <%= f.hidden_field :subject_id %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div><br>

  <div>
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>

  <% end %>

</div>
