<%= render 'layouts/navbar' %>
<%= render 'categories/new_category_modal' %>
<%= render 'resources/new_resource_modal' %>

<div class="container-fluid">
  <%= render 'layouts/page_header' %>
  <%= render 'resources/newsfeed' %>
  <%= render 'categories/category_tree' %>
</div>
